.App {
  text-align: center;
  background-color: rgb(246, 247, 249);
  min-height: 100vh;
}



.App-header {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  font: 2em sans-serif;
  height: 80px;
}

.header-title{
  padding-top: 10px;
}

.App-body{
  text-align: left;
  display: flex;
  flex-direction: row;
}


